# First Block Of Code

In [1]:
import numpy as np
import pandas as pd
import random

In [2]:
print("Hello  world")

Hello  world

In [3]:
message = "Hello World"

In [4]:
type(message)

str

In [5]:
message.upper()

'HELLO WORLD'

In [6]:
message.count("l")

3

In [7]:
message.replace("l", "u")

'Heuuo Worud'

In [8]:
message_1 = 'Hello Babe\'s girl'

In [9]:
message_1

"Hello Babe's girl"

In [10]:
numbers = [1, 3, 5, 7, 11]

In [11]:
numbers

[1, 3, 5, 7, 11]

In [12]:
numbers[1:]

[3, 5, 7, 11]

In [13]:
numbers.append(0)

In [14]:
numbers

[1, 3, 5, 7, 11, 0]

In [15]:
numbers.insert(0, 9)

In [16]:
numbers = [1,2,3,4,5,6,7]

In [17]:
numbers

[1, 2, 3, 4, 5, 6, 7]

In [18]:
list_1 = numbers.copy()

In [19]:
list_1

[1, 2, 3, 4, 5, 6, 7]

In [20]:
person1 = {"name" : "Tobi", "age" : 89, "gender": "Male"}

In [21]:
person1

{'name': 'Tobi', 'age': 89, 'gender': 'Male'}

In [22]:
person1.keys()

dict_keys(['name', 'age', 'gender'])

In [23]:
person1.get("age")

89

In [24]:
for item in person1.items():
    print(item)

('name', 'Tobi')
('age', 89)
('gender', 'Male')

In [25]:
person1["height"] = 1.96

In [26]:
person1

{'name': 'Tobi', 'age': 89, 'gender': 'Male', 'height': 1.96}

In [27]:
person1["height"] = 1.99

In [28]:
person1

{'name': 'Tobi', 'age': 89, 'gender': 'Male', 'height': 1.99}

In [29]:
list_1

[1, 2, 3, 4, 5, 6, 7]

In [30]:
for i, item in enumerate(list_1):
    message = f"{i} - {item}"
    print(message)

0 - 1
1 - 2
2 - 3
3 - 4
4 - 5
5 - 6
6 - 7

In [31]:
def sum_add(num1, num2):
    return num1 + num2

In [32]:
print(sum_add(3, 7))

10

In [33]:
import os

In [34]:
os.getcwd()

'/Users/mac/Desktop/Data Science'

In [35]:
os.listdir()

['StudentsPerformance.csv', 'dev', '.ipynb_checkpoints', 'index.ipynb']

In [36]:
# os.makedirs("dev")

In [37]:
os.listdir()

['StudentsPerformance.csv', 'dev', '.ipynb_checkpoints', 'index.ipynb']

# Creating Dataframes

## 1 - Using Numpy

In [38]:
import numpy as np
import pandas as pd

In [39]:
data = np.array([[1, 4], [2, 6], [7,8]])

In [40]:
data

array([[1, 4],
       [2, 6],
       [7, 8]])

In [41]:
pd.DataFrame(data)

   0  1
0  1  4
1  2  6
2  7  8

In [42]:
df = pd.DataFrame(data, index = ["Row 1", "Row 2", "Row 3"], columns = ["col 1", "col 2"])

In [43]:
df

       col 1  col 2
Row 1      1      4
Row 2      2      6
Row 3      7      8

## 2 - Using Normal Array

In [44]:
data = [[1, 4], [2, 6], [7,8]]

In [45]:
df = pd.DataFrame(data, index = ["Row 1", "Row 2", "Row 3"], columns = ["col 1", "col 2"])

In [46]:
df

       col 1  col 2
Row 1      1      4
Row 2      2      6
Row 3      7      8

## 3 - Using Dictonaries

In [47]:
states = ["Lagos", "Oyo", "Osun", "Sokoto", "Abia"]

In [48]:
population = [50, 25, 22, 37, 20]

In [49]:
dict_states = {"states"  :  states,  "population" :  population}

In [50]:
dict_states

{'states': ['Lagos', 'Oyo', 'Osun', 'Sokoto', 'Abia'],
 'population': [50, 25, 22, 37, 20]}

In [51]:
df_population = pd.DataFrame(dict_states)

In [52]:
df_population

   states  population
0   Lagos          50
1     Oyo          25
2    Osun          22
3  Sokoto          37
4    Abia          20

## 4 - Using CSV File

In [53]:
df_student =  pd.read_csv('StudentsPerformance.csv')

In [54]:
df_student

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [55]:
df_student.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [56]:
df_student.tail()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [57]:
df_student.shape

(1000, 8)

In [58]:
pd.set_option('display.max_rows', 1000)

In [59]:
df_student

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92
7,male,group B,some college,free/reduced,none,40,43,39
8,male,group D,high school,free/reduced,completed,64,64,67
9,female,group B,high school,free/reduced,none,38,60,50
10,male,group C,associate's degree,standard,none,58,54,52
11,male,group D,associate's degree,standard,none,40,52,43
12,female,group B,high school,standard,none,65,81,73
13,male,group A,some college,standard,completed,78,72,70
14,female,group A,master's degree,standard,none,50,53,58
15,female,group C,some high school,standard,none,69,75,78
16,male,group C,high school,standard,none,88,89,86
17,female,group B,some high school,free/reduced,none,18,32,28
18,male,group C,master's degree,free/reduced,completed,46,42,46
19,female,group C,associate's degree,free/reduced,none,54,58,61
20,male,group D,high school,standard,none,66,69,63
21,female,group B,some college,free/reduced,completed,65,75,70
22,male,group D,some college,standard,none,44,54,53
23,female,group C,some high school,standard,none,69,73,73
24,male,group D,bachelor's degree,free/reduced,completed,74,71,80
25,male,group A,master's degree,free/reduced,none,73,74,72
26,male,group B,some college,standard,none,69,54,55
27,female,group C,bachelor's degree,standard,none,67,69,75
28,male,group C,high school,standard,none,70,70,65
29,female,group D,master's degree,standard,none,62,70,75
30,female,group D,some college,standard,none,69,74,74
31,female,group B,some college,standard,none,63,65,61
32,female,group E,master's degree,free/reduced,none,56,72,65
33,male,group D,some college,standard,none,40,42,38
34,male,group E,some college,standard,none,97,87,82
35,male,group E,associate's degree,standard,completed,81,81,79
36,female,group D,associate's degree,standard,none,74,81,83
37,female,group D,some high school,free/reduced,none,50,64,59
38,female,group D,associate's degree,free/reduced,completed,75,90,88
39,male,group B,associate's degree,free/reduced,none,57,56,57
40,male,group C,associate's degree,free/reduced,none,55,61,54
41,female,group C,associate's degree,standard,none,58,73,68
42,female,group B,associate's degree,standard,none,53,58,65
43,male,group B,some college,free/reduced,completed,59,65,66
44,female,group E,associate's degree,free/reduced,none,50,56,54
45,male,group B,associate's degree,standard,none,65,54,57
46,female,group A,associate's degree,standard,completed,55,65,62
47,female,group C,high school,standard,none,66,71,76
48,female,group D,associate's degree,free/reduced,completed,57,74,76
49,male,group C,high school,standard,completed,82,84,82
50,male,group E,some college,standard,none,53,55,48
51,male,group E,associate's degree,free/reduced,completed,77,69,68
52,male,group C,some college,standard,none,53,44,42
53,male,group D,high school,standard,none,88,78,75
54,female,group C,some high school,free/reduced,completed,71,84,87
55,female,group C,high school,free/reduced,none,33,41,43
56,female,group E,associate's degree,standard,completed,82,85,86
57,male,group D,associate's degree,standard,none,52,55,49
58,male,group D,some college,standard,completed,58,59,58
59,female,group C,some high school,free/reduced,none,0,17,10
60,male,group E,bachelor's degree,free/reduced,completed,79,74,72
61,male,group A,some high school,free/reduced,none,39,39,34
62,male,group A,associate's degree,free/reduced,none,62,61,55
63,female,group C,associate's degree,standard,none,69,80,71
64,female,group D,some high school,standard,none,59,58,59
65,male,group B,some high school,standard,none,67,64,61
66,male,group D,some high school,free/reduced,none,45,37,37
67,female,group C,some college,standard,none,60,72,74
68,male,group B,associate's degree,free/reduced,none,61,58,56
69,female,group C,associate's degree,standard,none,39,64,57
70,female,group D,some college,free/reduced,completed,58,63,73
71,male,group D,some college,standard,completed,63,55,63
72,female,group A,associate's degree,free/reduced,none,41,51,48
73,male,group C,some high school,free/reduced,none,61,57,56
74,male,group C,some high school,standard,none,49,49,41
75,male,group B,associate's degree,free/reduced,none,44,41,38
76,male,group E,some high school,standard,none,30,26,22
77,male,group A,bachelor's degree,standard,completed,80,78,81
78,female,group D,some high school,standard,completed,61,74,72
79,female,group E,master's degree,standard,none,62,68,68
80,female,group B,associate's degree,standard,none,47,49,50
81,male,group B,high school,free/reduced,none,49,45,45
82,male,group A,some college,free/reduced,completed,50,47,54
83,male,group E,associate's degree,standard,none,72,64,63
84,male,group D,high school,free/reduced,none,42,39,34
85,female,group C,some college,standard,none,73,80,82
86,female,group C,some college,free/reduced,none,76,83,88
87,female,group D,associate's degree,standard,none,71,71,74
88,female,group A,some college,standard,none,58,70,67
89,female,group D,some high school,standard,none,73,86,82
90,female,group C,bachelor's degree,standard,none,65,72,74
91,male,group C,high school,free/reduced,none,27,34,36
92,male,group C,high school,standard,none,71,79,71
93,male,group C,associate's degree,free/reduced,completed,43,45,50
94,female,group B,some college,standard,none,79,86,92
95,male,group C,associate's degree,free/reduced,completed,78,81,82
96,male,group B,some high school,standard,completed,65,66,62
97,female,group E,some college,standard,completed,63,72,70
98,female,group D,some college,free/reduced,none,58,67,62
99,female,group D,bachelor's degree,standard,none,65,67,62
100,male,group B,some college,standard,none,79,67,67
101,male,group D,bachelor's degree,standard,completed,68,74,74
102,female,group D,associate's degree,standard,none,85,91,89
103,male,group B,high school,standard,completed,60,44,47
104,male,group C,some college,standard,completed,98,86,90
105,female,group C,some college,standard,none,58,67,72
106,female,group D,master's degree,standard,none,87,100,100
107,male,group E,associate's degree,standard,completed,66,63,64
108,female,group B,associate's degree,free/reduced,none,52,76,70
109,female,group B,some high school,standard,none,70,64,72
110,female,group D,associate's degree,free/reduced,completed,77,89,98
111,male,group C,high school,standard,none,62,55,49
112,male,group A,associate's degree,standard,none,54,53,47
113,female,group D,some college,standard,none,51,58,54
114,female,group E,bachelor's degree,standard,completed,99,100,100
115,male,group C,high school,standard,none,84,77,74
116,female,group B,bachelor's degree,free/reduced,none,75,85,82
117,female,group D,bachelor's degree,standard,none,78,82,79
118,female,group D,some high school,standard,none,51,63,61
119,female,group C,some college,standard,none,55,69,65
120,female,group C,bachelor's degree,standard,completed,79,92,89
121,male,group B,associate's degree,standard,completed,91,89,92
122,female,group C,some college,standard,completed,88,93,93
123,male,group D,high school,free/reduced,none,63,57,56
124,male,group E,some college,standard,none,83,80,73
125,female,group B,high school,standard,none,87,95,86
126,male,group B,some high school,standard,none,72,68,67
127,male,group D,some college,standard,completed,65,77,74
128,male,group D,master's degree,standard,none,82,82,74
129,female,group A,bachelor's degree,standard,none,51,49,51
130,male,group D,master's degree,standard,none,89,84,82
131,male,group C,some high school,free/reduced,completed,53,37,40
132,male,group E,some college,free/reduced,completed,87,74,70
133,female,group C,some college,standard,completed,75,81,84
134,male,group D,bachelor's degree,free/reduced,completed,74,79,75
135,male,group C,bachelor's degree,standard,none,58,55,48
136,male,group B,some high school,standard,completed,51,54,41
137,male,group E,high school,standard,none,70,55,56
138,female,group C,associate's degree,standard,none,59,66,67
139,male,group D,some college,standard,completed,71,61,69
140,female,group D,some high school,standard,none,76,72,71
141,female,group C,some college,free/reduced,none,59,62,64
142,female,group E,some college,free/reduced,completed,42,55,54
143,male,group A,high school,standard,none,57,43,47
144,male,group D,some college,standard,none,88,73,78
145,female,group C,some college,free/reduced,none,22,39,33
146,male,group B,some high school,standard,none,88,84,75
147,male,group C,associate's degree,free/reduced,none,73,68,66
148,female,group D,bachelor's degree,standard,completed,68,75,81
149,male,group E,associate's degree,free/reduced,completed,100,100,93
150,male,group A,some high school,standard,completed,62,67,69
151,male,group A,bachelor's degree,standard,none,77,67,68
152,female,group B,associate's degree,standard,completed,59,70,66
153,male,group D,bachelor's degree,standard,none,54,49,47
154,male,group D,some high school,standard,none,62,67,61
155,female,group C,some college,standard,completed,70,89,88
156,female,group E,high school,free/reduced,completed,66,74,78
157,male,group B,some college,free/reduced,none,60,60,60
158,female,group B,associate's degree,standard,completed,61,86,87
159,male,group D,associate's degree,free/reduced,none,66,62,64
160,male,group B,associate's degree,free/reduced,completed,82,78,74
161,female,group E,some college,free/reduced,completed,75,88,85
162,male,group B,master's degree,free/reduced,none,49,53,52
163,male,group C,high school,standard,none,52,53,49
164,female,group E,master's degree,standard,none,81,92,91
165,female,group C,bachelor's degree,standard,completed,96,100,100
166,male,group C,high school,free/reduced,completed,53,51,51
167,female,group B,master's degree,free/reduced,completed,58,76,78
168,female,group B,high school,standard,completed,68,83,78
169,female,group C,some college,free/reduced,completed,67,75,70
170,male,group A,high school,standard,completed,72,73,74
171,male,group E,some high school,standard,none,94,88,78
172,female,group D,some college,standard,none,79,86,81
173,female,group C,associate's degree,standard,none,63,67,70
174,female,group C,bachelor's degree,free/reduced,completed,43,51,54
175,female,group C,master's degree,standard,completed,81,91,87
176,female,group B,high school,free/reduced,completed,46,54,58
177,female,group C,associate's degree,standard,completed,71,77,77
178,female,group B,master's degree,free/reduced,completed,52,70,62
179,female,group D,some high school,standard,completed,97,100,100
180,male,group C,master's degree,free/reduced,completed,62,68,75
181,female,group C,some college,free/reduced,none,46,64,66
182,female,group E,high school,standard,none,50,50,47
183,female,group D,associate's degree,standard,none,65,69,70
184,male,group C,some high school,free/reduced,completed,45,52,49
185,male,group C,associate's degree,free/reduced,completed,65,67,65
186,male,group E,high school,standard,none,80,76,65
187,male,group D,some high school,standard,completed,62,66,68
188,male,group B,some high school,free/reduced,none,48,52,45
189,female,group C,bachelor's degree,standard,none,77,88,87
190,female,group E,associate's degree,standard,none,66,65,69
191,male,group D,some college,standard,completed,76,83,79
192,female,group B,some high school,standard,none,62,64,66
193,male,group D,some college,standard,completed,77,62,62
194,female,group C,master's degree,standard,completed,69,84,85
195,male,group D,associate's degree,standard,none,61,55,52
196,male,group C,some high school,free/reduced,completed,59,69,65
197,male,group E,high school,free/reduced,none,55,56,51
198,female,group B,some college,free/reduced,none,45,53,55
199,female,group B,bachelor's degree,free/reduced,none,78,79,76
200,female,group C,associate's degree,standard,completed,67,84,86
201,female,group D,some college,free/reduced,none,65,81,77
202,male,group C,associate's degree,standard,none,69,77,69
203,female,group B,associate's degree,standard,none,57,69,68
204,male,group C,some college,standard,none,59,41,42
205,male,group D,some high school,standard,completed,74,71,78
206,male,group E,bachelor's degree,standard,none,82,62,62
207,male,group E,high school,standard,completed,81,80,76
208,female,group B,some college,free/reduced,none,74,81,76
209,female,group B,some college,free/reduced,none,58,61,66
210,male,group D,some high school,free/reduced,completed,80,79,79
211,male,group C,some college,free/reduced,none,35,28,27
212,female,group C,high school,free/reduced,none,42,62,60
213,male,group C,associate's degree,free/reduced,completed,60,51,56
214,male,group E,high school,standard,completed,87,91,81
215,male,group B,some high school,standard,completed,84,83,75
216,female,group E,associate's degree,free/reduced,completed,83,86,88
217,female,group C,high school,free/reduced,none,34,42,39
218,male,group B,high school,free/reduced,none,66,77,70
219,male,group B,some high school,standard,completed,61,56,56
220,female,group D,high school,standard,completed,56,68,74
221,male,group B,associate's degree,standard,none,87,85,73
222,female,group C,some high school,free/reduced,none,55,65,62
223,male,group D,some high school,standard,none,86,80,75
224,female,group B,associate's degree,standard,completed,52,66,73
225,female,group E,master's degree,free/reduced,none,45,56,54
226,female,group C,some college,standard,none,72,72,71
227,male,group D,high school,standard,none,57,50,54
228,male,group A,some high school,free/reduced,none,68,72,64
229,female,group C,some college,standard,completed,88,95,94
230,male,group D,some college,standard,none,76,64,66
231,male,group C,associate's degree,standard,none,46,43,42
232,female,group B,bachelor's degree,standard,none,67,86,83
233,male,group E,some high school,standard,none,92,87,78
234,male,group C,bachelor's degree,standard,completed,83,82,84
235,male,group D,associate's degree,standard,none,80,75,77
236,male,group D,bachelor's degree,free/reduced,none,63,66,67
237,female,group D,some high school,standard,completed,64,60,74
238,male,group B,some college,standard,none,54,52,51
239,male,group C,associate's degree,standard,none,84,80,80
240,male,group D,high school,free/reduced,completed,73,68,66
241,female,group E,bachelor's degree,standard,none,80,83,83
242,female,group D,high school,standard,none,56,52,55
243,male,group E,some college,standard,none,59,51,43
244,male,group D,some high school,standard,none,75,74,69
245,male,group C,associate's degree,standard,none,85,76,71
246,male,group E,associate's degree,standard,none,89,76,74
247,female,group B,high school,standard,completed,58,70,68
248,female,group B,high school,standard,none,65,64,62
249,male,group C,high school,standard,none,68,60,53
250,male,group A,some high school,standard,completed,47,49,49
251,female,group D,some college,free/reduced,none,71,83,83
252,female,group B,some high school,standard,completed,60,70,70
253,male,group D,master's degree,standard,none,80,80,72
254,male,group D,high school,standard,none,54,52,52
255,female,group E,some college,standard,none,62,73,70
256,female,group C,associate's degree,free/reduced,none,64,73,68
257,male,group C,associate's degree,standard,completed,78,77,77
258,female,group B,some college,standard,none,70,75,78
259,female,group C,master's degree,free/reduced,completed,65,81,81
260,female,group C,some high school,free/reduced,completed,64,79,77
261,male,group C,some college,standard,completed,79,79,78
262,female,group C,some high school,free/reduced,none,44,50,51
263,female,group E,high school,standard,none,99,93,90
264,male,group D,high school,standard,none,76,73,68
265,male,group D,some high school,free/reduced,none,59,42,41
266,female,group C,bachelor's degree,standard,none,63,75,81
267,female,group D,high school,standard,none,69,72,77
268,female,group D,associate's degree,standard,completed,88,92,95
269,female,group E,some college,free/reduced,none,71,76,70
270,male,group C,bachelor's degree,standard,none,69,63,61
271,male,group C,some college,standard,none,58,49,42
272,female,group D,associate's degree,free/reduced,none,47,53,58
273,female,group D,some college,standard,none,65,70,71
274,male,group B,some college,standard,completed,88,85,76
275,male,group C,bachelor's degree,standard,none,83,78,73
276,female,group C,some high school,standard,completed,85,92,93
277,female,group E,high school,standard,completed,59,63,75
278,female,group C,some high school,free/reduced,none,65,86,80
279,male,group B,bachelor's degree,free/reduced,none,73,56,57
280,male,group D,high school,standard,none,53,52,42
281,male,group D,high school,standard,none,45,48,46
282,female,group D,bachelor's degree,free/reduced,none,73,79,84
283,female,group D,some college,free/reduced,completed,70,78,78
284,female,group B,some high school,standard,none,37,46,46
285,male,group B,associate's degree,standard,completed,81,82,82
286,male,group E,associate's degree,standard,completed,97,82,88
287,female,group B,some high school,standard,none,67,89,82
288,male,group B,bachelor's degree,free/reduced,none,88,75,76
289,male,group E,some high school,standard,completed,77,76,77
290,male,group C,associate's degree,standard,none,76,70,68
291,male,group D,some high school,standard,none,86,73,70
292,male,group C,some high school,standard,completed,63,60,57
293,female,group E,bachelor's degree,standard,none,65,73,75
294,male,group D,high school,free/reduced,completed,78,77,80
295,male,group B,associate's degree,free/reduced,none,67,62,60
296,male,group A,some high school,standard,completed,46,41,43
297,male,group E,associate's degree,standard,completed,71,74,68
298,male,group C,high school,free/reduced,completed,40,46,50
299,male,group D,associate's degree,free/reduced,none,90,87,75
300,male,group A,some college,free/reduced,completed,81,78,81
301,male,group D,some high school,free/reduced,none,56,54,52
302,female,group C,associate's degree,standard,completed,67,84,81
303,male,group B,associate's degree,standard,none,80,76,64
304,female,group C,associate's degree,standard,completed,74,75,83
305,male,group A,some college,standard,none,69,67,69
306,male,group E,some college,standard,completed,99,87,81
307,male,group C,some high school,standard,none,51,52,44
308,female,group B,associate's degree,free/reduced,none,53,71,67
309,female,group D,high school,free/reduced,none,49,57,52
310,female,group B,associate's degree,standard,none,73,76,80
311,male,group B,bachelor's degree,standard,none,66,60,57
312,male,group D,bachelor's degree,standard,completed,67,61,68
313,female,group C,associate's degree,free/reduced,completed,68,67,69
314,female,group C,bachelor's degree,standard,completed,59,64,75
315,male,group C,high school,standard,none,71,66,65
316,female,group D,master's degree,standard,completed,77,82,91
317,male,group C,associate's degree,standard,none,83,72,78
318,male,group B,bachelor's degree,standard,none,63,71,69
319,female,group D,associate's degree,free/reduced,none,56,65,63
320,female,group C,high school,free/reduced,completed,67,79,84
321,female,group E,high school,standard,none,75,86,79
322,female,group C,some college,standard,none,71,81,80
323,female,group C,some high school,free/reduced,none,43,53,53
324,female,group C,high school,free/reduced,none,41,46,43
325,female,group C,some college,standard,none,82,90,94
326,male,group C,some college,standard,none,61,61,62
327,male,group A,some college,free/reduced,none,28,23,19
328,male,group C,associate's degree,standard,completed,82,75,77
329,female,group B,some high school,standard,none,41,55,51
330,male,group C,high school,standard,none,71,60,61
331,male,group C,associate's degree,standard,none,47,37,35
332,male,group E,associate's degree,standard,completed,62,56,53

In [60]:
pd.set_option('display.max_rows', 10)

In [61]:
df_student

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [62]:
df_student.columns

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

In [63]:
df_student.index

RangeIndex(start=0, stop=1000, step=1)

In [64]:
df_student.dtypes

gender                         object
race/ethnicity                 object
parental level of education    object
lunch                          object
test preparation course        object
math score                      int64
reading score                   int64
writing score                   int64
dtype: object

In [65]:
df_student.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [66]:
df_student.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [67]:
len(df_student)

1000

In [68]:
type(df_student)

pandas.core.frame.DataFrame

In [69]:
df_student["gender"]

0      female
1      female
2      female
3        male
4        male
        ...
995    female
996      male
997    female
998    female
999    female
Name: gender, Length: 1000, dtype: object

In [70]:
df_student_part = df_student[["gender", "math score",	"reading score",	"writing score"]]

In [71]:
df_student_part

     gender  math score  reading score  writing score
0    female          72             72             74
1    female          69             90             88
2    female          90             95             93
3      male          47             57             44
4      male          76             78             75
..      ...         ...            ...            ...
995  female          88             99             95
996    male          62             55             55
997  female          59             71             65
998  female          68             78             77
999  female          77             86             86

[1000 rows x 4 columns]

## Adding a new column to a DataFrame

### 1 - Using []

In [72]:
language_score = np.random.randint(45, 100, 1000)

In [73]:
language_score

array([47, 65, 98, 71, 89, 86, 92, 64, 61, 60, 90, 89, 57, 69, 53, 97, 98,
       54, 63, 67, 98, 46, 60, 83, 55, 69, 81, 54, 91, 78, 63, 91, 91, 78,
       54, 54, 50, 49, 95, 86, 78, 85, 79, 45, 63, 91, 67, 51, 91, 51, 53,
       56, 47, 67, 75, 78, 55, 65, 60, 86, 94, 56, 69, 53, 48, 78, 69, 64,
       82, 93, 92, 97, 71, 46, 96, 59, 45, 85, 58, 53, 91, 62, 79, 60, 47,
       55, 49, 63, 86, 95, 59, 58, 94, 45, 49, 91, 93, 49, 94, 83, 79, 65,
       92, 95, 49, 74, 68, 89, 91, 62, 53, 57, 55, 78, 67, 50, 87, 70, 89,
       88, 80, 58, 83, 65, 92, 49, 55, 79, 64, 52, 49, 93, 90, 61, 81, 73,
       75, 99, 54, 84, 49, 63, 90, 55, 66, 70, 77, 47, 51, 70, 50, 74, 49,
       55, 49, 80, 86, 99, 87, 93, 86, 62, 93, 74, 97, 88, 51, 48, 83, 84,
       98, 86, 63, 58, 57, 62, 82, 78, 71, 98, 85, 47, 99, 71, 72, 52, 52,
       48, 91, 92, 60, 85, 53, 77, 58, 56, 96, 93, 73, 84, 83, 72, 67, 76,
       52, 63, 92, 58, 54, 61, 55, 88, 48, 59, 61, 80, 85, 90, 70, 91, 52,
       68, 60, 51, 50, 75, 77, 54, 50, 98, 98, 75, 87, 58, 89, 45, 60, 98,
       75, 91, 96, 47, 50, 49, 54, 89, 68, 79, 98, 57, 83, 62, 52, 65, 79,
       77, 68, 95, 97, 94, 59, 46, 62, 89, 66, 97, 55, 65, 55, 83, 49, 62,
       50, 90, 51, 79, 84, 61, 53, 94, 46, 96, 80, 63, 54, 51, 99, 56, 49,
       50, 74, 47, 57, 58, 97, 99, 52, 45, 47, 79, 54, 71, 95, 51, 71, 70,
       66, 65, 61, 62, 98, 75, 64, 84, 55, 64, 89, 64, 56, 85, 69, 67, 50,
       69, 59, 78, 93, 49, 56, 59, 50, 93, 67, 83, 49, 45, 52, 61, 81, 66,
       60, 67, 98, 87, 66, 60, 57, 87, 58, 82, 50, 46, 85, 91, 75, 96, 80,
       61, 68, 64, 52, 50, 75, 78, 74, 78, 80, 65, 88, 73, 89, 62, 94, 94,
       68, 98, 88, 53, 81, 94, 48, 80, 45, 58, 54, 88, 82, 79, 89, 98, 73,
       53, 86, 86, 93, 51, 70, 87, 54, 55, 57, 66, 71, 52, 69, 46, 87, 54,
       74, 75, 54, 88, 45, 52, 49, 71, 80, 55, 54, 74, 74, 57, 52, 94, 87,
       82, 71, 45, 88, 79, 97, 45, 45, 55, 46, 94, 77, 99, 65, 72, 86, 67,
       51, 46, 75, 85, 61, 87, 49, 79, 98, 52, 82, 80, 75, 93, 72, 77, 64,
       65, 84, 65, 71, 70, 82, 69, 52, 82, 76, 64, 62, 93, 97, 73, 55, 90,
       54, 46, 57, 64, 80, 55, 80, 85, 86, 72, 46, 66, 61, 47, 68, 96, 79,
       90, 85, 90, 71, 51, 56, 69, 52, 62, 51, 66, 56, 95, 45, 95, 75, 60,
       60, 57, 52, 54, 80, 51, 80, 88, 88, 98, 71, 96, 90, 49, 63, 46, 77,
       65, 69, 79, 94, 95, 60, 66, 96, 86, 68, 80, 94, 58, 98, 52, 67, 77,
       77, 70, 46, 77, 86, 82, 60, 63, 93, 88, 89, 55, 95, 93, 88, 58, 50,
       93, 77, 59, 52, 61, 49, 49, 97, 74, 83, 70, 54, 50, 70, 51, 97, 54,
       86, 99, 56, 48, 92, 74, 84, 95, 74, 45, 89, 54, 86, 45, 74, 55, 96,
       83, 50, 95, 46, 46, 56, 65, 59, 80, 57, 57, 66, 50, 52, 50, 85, 58,
       94, 65, 62, 71, 83, 45, 99, 72, 47, 75, 71, 64, 50, 72, 55, 65, 83,
       61, 73, 66, 97, 48, 48, 86, 88, 66, 58, 91, 45, 86, 90, 71, 94, 83,
       60, 58, 79, 83, 74, 56, 73, 62, 81, 87, 56, 53, 52, 75, 50, 66, 86,
       90, 61, 52, 86, 72, 68, 84, 97, 55, 96, 58, 60, 91, 60, 91, 68, 60,
       49, 73, 64, 78, 62, 69, 71, 97, 83, 54, 51, 88, 89, 53, 45, 79, 90,
       90, 63, 52, 89, 45, 91, 68, 78, 95, 61, 62, 74, 74, 82, 69, 65, 87,
       83, 84, 80, 51, 52, 52, 80, 45, 58, 66, 62, 71, 84, 60, 55, 90, 57,
       77, 49, 49, 74, 72, 89, 97, 72, 76, 69, 52, 98, 45, 46, 48, 60, 71,
       78, 73, 95, 71, 87, 95, 66, 70, 72, 77, 59, 57, 74, 76, 62, 48, 53,
       88, 64, 52, 71, 78, 85, 66, 75, 50, 52, 50, 50, 49, 77, 80, 66, 65,
       85, 76, 72, 70, 51, 68, 76, 61, 96, 89, 95, 93, 69, 77, 73, 76, 58,
       88, 94, 52, 86, 78, 98, 86, 57, 75, 70, 64, 61, 46, 78, 90, 93, 53,
       99, 66, 74, 68, 50, 97, 51, 69, 47, 60, 50, 96, 48, 57, 93, 93, 76,
       67, 86, 72, 69, 82, 60, 84, 70, 75, 60, 81, 75, 86, 63, 55, 61, 70,
       57, 96, 61, 53, 71, 54, 74, 88, 51, 63, 58, 48, 73, 98, 75, 80, 76,
       72, 99, 69, 52, 50, 99, 72, 55, 47, 57, 87, 53, 85, 80, 49, 60, 96,
       83, 76, 55, 83, 79, 77, 79, 89, 48, 53, 64, 49, 55, 91, 98, 76, 88,
       52, 79, 65, 58, 84, 74, 64, 54, 75, 45, 65, 68, 91, 95, 68, 84, 84,
       76, 93, 80, 45, 77, 53, 74, 72, 54, 76, 56, 64, 68, 53, 48, 99, 59,
       91, 64, 74, 62, 54, 48, 74, 56, 46, 69, 83, 78, 74, 73, 91, 91, 85,
       64, 58, 98, 46, 69, 92, 82, 49, 48, 69, 59, 51, 84, 51, 76, 86, 71,
       96, 59, 49, 45, 54, 85, 47, 85, 82, 96, 90, 87, 95, 90, 62, 91, 52,
       56, 49, 98, 73, 72, 86, 94, 59, 75, 63, 89, 80, 83, 94])

In [74]:
len(language_score)

1000

In [75]:
df_student['language_score'] = language_score

In [76]:
df_student

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,language_score
0,female,group B,bachelor's degree,standard,none,72,72,74,47
1,female,group C,some college,standard,completed,69,90,88,65
2,female,group B,master's degree,standard,none,90,95,93,98
3,male,group A,associate's degree,free/reduced,none,47,57,44,71
4,male,group C,some college,standard,none,76,78,75,89
...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95,63
996,male,group C,high school,free/reduced,none,62,55,55,89
997,female,group C,high school,free/reduced,completed,59,71,65,80
998,female,group D,some college,standard,completed,68,78,77,83
999,female,group D,some college,free/reduced,none,77,86,86,94

In [77]:
df_student_part = df_student[["gender", "math score",	"reading score",	"writing score", 'language_score']]

In [78]:
df_student_part

     gender  math score  reading score  writing score  language_score
0    female          72             72             74              47
1    female          69             90             88              65
2    female          90             95             93              98
3      male          47             57             44              71
4      male          76             78             75              89
..      ...         ...            ...            ...             ...
995  female          88             99             95              63
996    male          62             55             55              89
997  female          59             71             65              80
998  female          68             78             77              83
999  female          77             86             86              94

[1000 rows x 5 columns]

### 2 - Using Assign Method

In [79]:
score1 = np.random.randint(40, 100, 1000)
series1 = pd.Series(score1, index=np.arange(0, 1000))
series1

0      52
1      85
2      64
3      73
4      45
       ..
995    60
996    78
997    51
998    46
999    74
Length: 1000, dtype: int64

In [80]:
score2 = np.random.randint(40, 100, 1000)

In [81]:
df_student = df_student.assign(score1=score1, score2=score2)

In [82]:
df_student

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,language_score,score1,score2
0,female,group B,bachelor's degree,standard,none,72,72,74,47,52,93
1,female,group C,some college,standard,completed,69,90,88,65,85,83
2,female,group B,master's degree,standard,none,90,95,93,98,64,70
3,male,group A,associate's degree,free/reduced,none,47,57,44,71,73,84
4,male,group C,some college,standard,none,76,78,75,89,45,77
...,...,...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95,63,60,60
996,male,group C,high school,free/reduced,none,62,55,55,89,78,96
997,female,group C,high school,free/reduced,completed,59,71,65,80,51,69
998,female,group D,some college,standard,completed,68,78,77,83,46,55
999,female,group D,some college,free/reduced,none,77,86,86,94,74,78

In [83]:
df_student["math score"].sum()

np.int64(66089)

In [84]:
df_student["math score"].mean()

np.float64(66.089)

In [85]:
df_student["math score"].median()

66.0

In [86]:
df_student["math score"].count()

np.int64(1000)

In [87]:
df_student.describe()

,math score,reading score,writing score,language_score,score1,score2
count,1000.00000,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000
mean,66.08900,69.169000,68.054000,70.633000,68.33000,70.285000
std,15.16308,14.600192,15.195657,16.051104,17.05673,17.611699
min,0.00000,17.000000,10.000000,45.000000,40.00000,40.000000
25%,57.00000,59.000000,57.750000,56.000000,53.00000,55.000000
50%,66.00000,70.000000,69.000000,70.000000,68.00000,70.000000
75%,77.00000,79.000000,79.000000,85.000000,83.00000,86.000000
max,100.00000,100.000000,100.000000,99.000000,99.00000,99.000000

In [88]:
df_student['total score'] = df_student["math score"] + df_student["reading score"] + df_student["writing score"] + df_student["language_score"] + df_student["score1"] + df_student["score2"]

In [89]:
df_student

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,language_score,score1,score2,total score
0,female,group B,bachelor's degree,standard,none,72,72,74,47,52,93,410
1,female,group C,some college,standard,completed,69,90,88,65,85,83,480
2,female,group B,master's degree,standard,none,90,95,93,98,64,70,510
3,male,group A,associate's degree,free/reduced,none,47,57,44,71,73,84,376
4,male,group C,some college,standard,none,76,78,75,89,45,77,440
...,...,...,...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95,63,60,60,465
996,male,group C,high school,free/reduced,none,62,55,55,89,78,96,435
997,female,group C,high school,free/reduced,completed,59,71,65,80,51,69,395
998,female,group D,some college,standard,completed,68,78,77,83,46,55,407
999,female,group D,some college,free/reduced,none,77,86,86,94,74,78,495

In [90]:
df_student['gender'].value_counts()

gender
female    518
male      482
Name: count, dtype: int64

In [91]:
df_student['gender'].value_counts(normalize=True)

gender
female    0.518
male      0.482
Name: proportion, dtype: float64

In [92]:
df_student

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,language_score,score1,score2,total score
0,female,group B,bachelor's degree,standard,none,72,72,74,47,52,93,410
1,female,group C,some college,standard,completed,69,90,88,65,85,83,480
2,female,group B,master's degree,standard,none,90,95,93,98,64,70,510
3,male,group A,associate's degree,free/reduced,none,47,57,44,71,73,84,376
4,male,group C,some college,standard,none,76,78,75,89,45,77,440
...,...,...,...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95,63,60,60,465
996,male,group C,high school,free/reduced,none,62,55,55,89,78,96,435
997,female,group C,high school,free/reduced,completed,59,71,65,80,51,69,395
998,female,group D,some college,standard,completed,68,78,77,83,46,55,407
999,female,group D,some college,free/reduced,none,77,86,86,94,74,78,495

In [93]:
df_student['parental level of education'].value_counts()

parental level of education
some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: count, dtype: int64

In [94]:
df_student['parental level of education'].value_counts(normalize=True)

parental level of education
some college          0.226
associate's degree    0.222
high school           0.196
some high school      0.179
bachelor's degree     0.118
master's degree       0.059
Name: proportion, dtype: float64

In [95]:
df_student['parental level of education'].value_counts(normalize=True).round(2)

parental level of education
some college          0.23
associate's degree    0.22
high school           0.20
some high school      0.18
bachelor's degree     0.12
master's degree       0.06
Name: proportion, dtype: float64

In [96]:
df_student.sort_values('math score', ascending=False)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,language_score,score1,score2,total score
451,female,group E,some college,standard,none,100,92,97,52,88,96,525
458,female,group E,bachelor's degree,standard,none,100,100,100,64,94,44,502
962,female,group E,associate's degree,standard,none,100,100,100,59,79,81,519
149,male,group E,associate's degree,free/reduced,completed,100,100,93,70,69,48,480
623,male,group A,some college,standard,completed,100,96,86,64,59,68,473
...,...,...,...,...,...,...,...,...,...,...,...,...
145,female,group C,some college,free/reduced,none,22,39,33,70,63,84,311
787,female,group B,some college,standard,none,19,38,32,68,44,71,272
17,female,group B,some high school,free/reduced,none,18,32,28,54,94,80,306
980,female,group B,high school,free/reduced,none,8,24,23,87,88,94,324
59,female,group C,some high school,free/reduced,none,0,17,10,86,69,93,275

In [97]:
df_student.sort_values(['total score', 'math score'], ascending=False)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,language_score,score1,score2,total score
957,female,group D,master's degree,standard,none,92,100,100,92,74,95,553
397,female,group C,associate's degree,standard,none,85,89,95,87,96,99,551
229,female,group C,some college,standard,completed,88,95,94,98,77,96,548
903,female,group D,bachelor's degree,free/reduced,completed,93,100,100,65,86,96,540
16,male,group C,high school,standard,none,88,89,86,98,81,91,533
...,...,...,...,...,...,...,...,...,...,...,...,...
921,female,group C,high school,free/reduced,none,35,53,46,45,41,51,271
555,female,group C,some college,free/reduced,none,32,39,33,55,48,56,263
596,male,group B,high school,free/reduced,none,30,24,15,50,55,79,253
76,male,group E,some high school,standard,none,30,26,22,45,46,56,225
327,male,group A,some college,free/reduced,none,28,23,19,49,54,52,225

In [98]:
df_student.sort_values(['total score', 'math score'], ascending=False, inplace=True)

In [99]:
df_student

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,language_score,score1,score2,total score
957,female,group D,master's degree,standard,none,92,100,100,92,74,95,553
397,female,group C,associate's degree,standard,none,85,89,95,87,96,99,551
229,female,group C,some college,standard,completed,88,95,94,98,77,96,548
903,female,group D,bachelor's degree,free/reduced,completed,93,100,100,65,86,96,540
16,male,group C,high school,standard,none,88,89,86,98,81,91,533
...,...,...,...,...,...,...,...,...,...,...,...,...
921,female,group C,high school,free/reduced,none,35,53,46,45,41,51,271
555,female,group C,some college,free/reduced,none,32,39,33,55,48,56,263
596,male,group B,high school,free/reduced,none,30,24,15,50,55,79,253
76,male,group E,some high school,standard,none,30,26,22,45,46,56,225
327,male,group A,some college,free/reduced,none,28,23,19,49,54,52,225

In [100]:
df_student.sort_values('race/ethnicity', key = lambda col:col.str.lower())

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,language_score,score1,score2,total score
327,male,group A,some college,free/reduced,none,28,23,19,49,54,52,225
805,male,group A,some college,free/reduced,none,75,81,74,86,51,99,466
892,female,group A,master's degree,free/reduced,none,50,67,73,48,70,75,383
651,female,group A,high school,standard,completed,68,80,76,56,76,50,406
368,female,group A,some high school,free/reduced,none,44,64,58,88,45,84,383
...,...,...,...,...,...,...,...,...,...,...,...,...
124,male,group E,some college,standard,none,83,80,73,92,45,66,439
624,female,group E,bachelor's degree,free/reduced,none,61,58,62,50,53,75,359
795,female,group E,associate's degree,free/reduced,completed,57,68,73,77,68,99,442
592,male,group E,bachelor's degree,standard,none,68,68,64,74,62,53,389
726,female,group E,associate's degree,standard,completed,65,75,77,84,64,48,413

In [101]:
new_index = np.random.randint(40, 100, 1000)

In [102]:
new_index

array([41, 74, 58, 46, 75, 52, 80, 40, 84, 54, 77, 82, 55, 62, 96, 60, 74,
       44, 56, 65, 69, 60, 94, 51, 83, 71, 84, 58, 83, 75, 62, 49, 43, 76,
       77, 99, 82, 67, 80, 57, 53, 92, 99, 68, 60, 78, 66, 55, 90, 84, 67,
       59, 65, 57, 90, 61, 54, 55, 72, 96, 68, 83, 81, 99, 55, 64, 54, 94,
       86, 50, 81, 64, 52, 99, 60, 46, 44, 68, 45, 77, 57, 43, 45, 71, 95,
       46, 60, 86, 57, 55, 44, 40, 80, 72, 50, 59, 84, 90, 40, 99, 97, 52,
       77, 55, 79, 58, 59, 45, 68, 58, 84, 83, 40, 87, 85, 47, 42, 49, 60,
       64, 95, 88, 76, 45, 71, 44, 92, 61, 91, 64, 58, 90, 47, 77, 89, 90,
       91, 95, 95, 49, 70, 60, 74, 55, 83, 47, 98, 90, 78, 76, 47, 50, 43,
       45, 57, 89, 71, 94, 90, 53, 66, 48, 62, 51, 80, 69, 86, 78, 87, 48,
       83, 67, 60, 89, 61, 67, 55, 71, 86, 81, 81, 60, 79, 97, 95, 92, 57,
       73, 46, 99, 78, 67, 52, 53, 76, 96, 96, 48, 51, 69, 93, 65, 87, 77,
       88, 99, 65, 46, 70, 98, 84, 64, 51, 84, 49, 89, 58, 51, 88, 95, 50,
       55, 85, 97, 54, 43, 40, 49, 74, 89, 70, 49, 94, 82, 86, 48, 91, 63,
       87, 57, 96, 59, 97, 61, 57, 66, 63, 88, 59, 59, 94, 97, 67, 53, 70,
       53, 71, 65, 87, 85, 94, 95, 69, 50, 78, 86, 88, 69, 71, 70, 84, 99,
       46, 94, 64, 81, 77, 77, 50, 61, 95, 95, 63, 67, 46, 58, 56, 66, 46,
       81, 74, 83, 87, 50, 97, 91, 73, 80, 78, 40, 49, 62, 90, 92, 62, 53,
       80, 83, 59, 82, 89, 47, 56, 69, 56, 96, 44, 67, 83, 80, 61, 78, 78,
       74, 44, 82, 99, 93, 98, 69, 56, 99, 80, 59, 69, 83, 43, 78, 46, 49,
       96, 72, 97, 75, 47, 76, 72, 66, 73, 42, 64, 91, 86, 97, 77, 73, 47,
       51, 65, 89, 85, 85, 54, 62, 88, 64, 83, 45, 99, 54, 61, 97, 88, 48,
       72, 69, 40, 73, 42, 62, 49, 67, 75, 89, 74, 67, 86, 64, 50, 42, 50,
       40, 73, 55, 48, 50, 83, 86, 96, 62, 73, 93, 45, 98, 76, 68, 65, 87,
       73, 47, 87, 69, 50, 51, 65, 52, 46, 54, 71, 78, 98, 48, 78, 40, 70,
       43, 84, 83, 73, 41, 44, 68, 42, 56, 80, 98, 56, 49, 56, 99, 93, 63,
       82, 53, 99, 83, 64, 88, 66, 96, 54, 63, 94, 45, 65, 53, 62, 62, 67,
       59, 70, 65, 68, 67, 99, 89, 62, 69, 46, 56, 78, 42, 88, 75, 85, 47,
       62, 66, 92, 40, 80, 68, 87, 41, 88, 61, 92, 66, 59, 56, 56, 68, 50,
       90, 90, 79, 86, 75, 73, 61, 88, 89, 82, 80, 75, 43, 46, 71, 70, 94,
       80, 63, 68, 44, 54, 61, 61, 41, 88, 99, 98, 76, 75, 90, 42, 73, 42,
       92, 89, 71, 64, 70, 44, 56, 77, 53, 63, 62, 80, 81, 55, 93, 43, 63,
       49, 82, 68, 61, 41, 77, 69, 71, 52, 77, 92, 40, 58, 69, 83, 42, 74,
       68, 49, 95, 59, 91, 63, 79, 75, 47, 71, 45, 48, 94, 59, 71, 88, 91,
       93, 49, 65, 63, 70, 55, 57, 64, 83, 74, 89, 42, 85, 72, 55, 65, 53,
       61, 69, 60, 76, 67, 68, 80, 82, 88, 94, 94, 96, 92, 74, 51, 86, 43,
       46, 88, 69, 83, 71, 41, 48, 76, 86, 97, 64, 79, 49, 69, 83, 70, 84,
       78, 65, 99, 75, 91, 73, 84, 87, 46, 60, 79, 50, 72, 83, 76, 85, 79,
       40, 65, 61, 64, 57, 46, 83, 75, 64, 82, 43, 84, 75, 83, 54, 57, 57,
       53, 63, 48, 66, 52, 47, 81, 50, 47, 75, 54, 60, 90, 50, 49, 48, 52,
       66, 77, 80, 57, 96, 58, 59, 63, 56, 94, 82, 47, 52, 48, 79, 91, 63,
       76, 58, 89, 46, 40, 70, 61, 65, 93, 58, 96, 92, 71, 54, 63, 44, 41,
       81, 58, 71, 78, 42, 85, 40, 80, 77, 97, 43, 85, 98, 65, 81, 49, 76,
       40, 73, 85, 48, 73, 70, 92, 50, 94, 61, 42, 57, 54, 99, 70, 89, 97,
       88, 71, 84, 42, 48, 73, 45, 45, 80, 66, 83, 40, 83, 96, 67, 75, 43,
       70, 91, 86, 84, 50, 82, 74, 69, 46, 84, 82, 68, 96, 45, 77, 69, 40,
       74, 52, 57, 56, 86, 42, 43, 41, 65, 70, 83, 95, 88, 41, 91, 81, 56,
       46, 86, 54, 45, 58, 66, 47, 98, 85, 59, 50, 59, 57, 57, 85, 87, 81,
       88, 91, 41, 89, 61, 71, 78, 62, 99, 55, 57, 88, 91, 77, 47, 59, 84,
       54, 53, 51, 83, 81, 65, 78, 41, 49, 44, 65, 95, 46, 94, 64, 41, 50,
       76, 62, 73, 45, 57, 93, 96, 47, 41, 74, 99, 81, 96, 78, 88, 72, 60,
       62, 82, 76, 68, 51, 79, 43, 93, 64, 61, 80, 57, 70, 90, 46, 80, 57,
       64, 60, 73, 44, 69, 77, 83, 49, 78, 42, 55, 89, 51, 78, 77, 82, 88,
       76, 97, 86, 70, 84, 46, 87, 94, 68, 61, 48, 60, 61, 46, 63, 57, 42,
       95, 88, 96, 58, 91, 90, 65, 76, 66, 53, 42, 58, 90, 51, 43, 95, 50,
       85, 85, 88, 55, 66, 75, 50, 58, 77, 98, 59, 40, 44, 76, 68, 48, 92,
       69, 74, 79, 45, 49, 42, 44, 79, 96, 99, 57, 85, 55, 72, 53, 79, 98,
       94, 56, 47, 77, 53, 51, 42, 90, 88, 82, 57, 79, 67, 88, 47, 60, 47,
       76, 71, 93, 75, 62, 51, 95, 41, 64, 84, 59, 44, 57, 58])

In [103]:
random.shuffle(new_index)

In [104]:
new_index

array([62, 62, 60, 62, 69, 56, 47, 42, 84, 95, 52, 55, 75, 96, 46, 57, 84,
       82, 49, 75, 76, 60, 97, 77, 48, 76, 46, 79, 70, 87, 83, 74, 61, 57,
       83, 99, 52, 68, 60, 91, 88, 68, 72, 54, 94, 76, 85, 44, 85, 67, 64,
       59, 44, 85, 44, 97, 83, 47, 57, 40, 99, 83, 53, 46, 64, 49, 81, 82,
       49, 70, 55, 63, 96, 62, 57, 81, 79, 54, 88, 61, 61, 85, 43, 99, 59,
       91, 67, 82, 65, 89, 74, 49, 99, 86, 60, 49, 92, 99, 87, 43, 86, 50,
       77, 93, 53, 68, 95, 53, 77, 42, 43, 91, 73, 64, 83, 89, 54, 50, 84,
       91, 74, 75, 46, 91, 52, 57, 45, 55, 94, 80, 61, 45, 72, 77, 48, 83,
       48, 90, 46, 99, 72, 84, 70, 60, 85, 88, 80, 86, 68, 58, 89, 44, 57,
       84, 49, 98, 96, 65, 56, 40, 90, 64, 96, 73, 43, 54, 42, 89, 99, 48,
       63, 58, 93, 50, 82, 77, 77, 67, 57, 65, 82, 78, 78, 82, 73, 57, 73,
       97, 92, 92, 94, 61, 50, 43, 83, 79, 68, 62, 50, 72, 42, 78, 88, 92,
       72, 60, 83, 56, 60, 54, 50, 99, 88, 78, 76, 41, 78, 81, 47, 82, 65,
       50, 61, 58, 84, 78, 73, 86, 40, 55, 54, 65, 83, 49, 95, 83, 40, 99,
       89, 44, 83, 84, 46, 47, 54, 71, 92, 59, 95, 98, 57, 74, 84, 66, 89,
       53, 43, 83, 42, 86, 65, 56, 56, 67, 94, 56, 75, 59, 93, 88, 48, 42,
       46, 71, 95, 91, 92, 84, 97, 50, 93, 93, 60, 53, 98, 57, 46, 53, 77,
       80, 97, 47, 74, 96, 88, 50, 73, 78, 96, 94, 63, 77, 74, 98, 54, 48,
       42, 85, 64, 93, 62, 64, 96, 61, 70, 54, 79, 45, 71, 64, 43, 45, 51,
       82, 63, 65, 51, 57, 41, 55, 88, 78, 96, 61, 46, 80, 43, 86, 98, 68,
       90, 91, 60, 59, 50, 70, 59, 49, 59, 96, 43, 66, 48, 55, 69, 59, 70,
       79, 80, 41, 45, 95, 62, 59, 80, 40, 84, 40, 40, 78, 66, 95, 90, 41,
       41, 60, 71, 70, 84, 68, 47, 83, 42, 98, 57, 96, 51, 46, 58, 94, 76,
       77, 69, 80, 51, 72, 66, 91, 65, 83, 99, 81, 90, 40, 91, 70, 69, 83,
       64, 57, 89, 50, 76, 50, 62, 60, 70, 62, 42, 53, 94, 52, 80, 79, 74,
       99, 73, 62, 89, 61, 83, 49, 64, 78, 97, 56, 44, 82, 80, 67, 86, 99,
       80, 58, 87, 55, 88, 63, 76, 73, 78, 61, 99, 45, 70, 86, 65, 56, 55,
       50, 46, 63, 67, 55, 77, 73, 88, 67, 49, 76, 94, 99, 74, 51, 95, 81,
       88, 92, 80, 99, 53, 90, 46, 44, 64, 84, 40, 88, 77, 99, 52, 70, 44,
       52, 50, 98, 83, 90, 50, 97, 88, 69, 77, 53, 96, 85, 55, 82, 68, 53,
       86, 95, 45, 78, 53, 74, 73, 84, 47, 42, 89, 79, 96, 77, 51, 91, 58,
       57, 97, 61, 94, 41, 64, 69, 71, 74, 73, 80, 55, 78, 86, 65, 62, 79,
       45, 88, 49, 66, 58, 43, 90, 94, 48, 69, 79, 91, 89, 75, 65, 87, 75,
       87, 86, 56, 45, 88, 51, 61, 53, 42, 47, 73, 71, 46, 87, 86, 51, 75,
       75, 85, 54, 78, 84, 83, 45, 90, 46, 51, 81, 61, 58, 64, 77, 45, 52,
       48, 53, 96, 68, 76, 71, 57, 77, 67, 46, 80, 45, 73, 40, 69, 88, 47,
       56, 61, 42, 90, 83, 46, 42, 59, 60, 75, 66, 90, 43, 51, 55, 82, 76,
       99, 57, 94, 61, 42, 75, 91, 91, 79, 49, 76, 97, 71, 78, 47, 90, 86,
       95, 65, 96, 47, 90, 95, 40, 79, 66, 64, 41, 71, 64, 78, 81, 91, 60,
       69, 41, 57, 87, 69, 71, 69, 51, 65, 56, 76, 47, 85, 79, 71, 67, 43,
       93, 77, 57, 55, 50, 79, 47, 57, 58, 90, 55, 52, 66, 44, 50, 49, 49,
       92, 54, 99, 71, 50, 71, 47, 44, 48, 51, 70, 70, 66, 84, 64, 67, 64,
       61, 48, 47, 67, 50, 89, 42, 42, 73, 97, 57, 97, 40, 76, 71, 69, 66,
       66, 90, 51, 82, 41, 69, 95, 83, 71, 69, 40, 75, 75, 52, 55, 55, 40,
       41, 66, 95, 70, 85, 46, 80, 98, 80, 46, 99, 67, 66, 62, 43, 71, 63,
       78, 40, 85, 87, 74, 48, 56, 48, 49, 57, 59, 40, 49, 57, 63, 68, 64,
       56, 89, 59, 96, 48, 92, 49, 96, 47, 64, 70, 47, 73, 59, 84, 48, 71,
       47, 88, 88, 68, 73, 50, 92, 41, 88, 69, 99, 59, 89, 63, 62, 54, 88,
       60, 96, 74, 80, 73, 87, 68, 85, 42, 94, 62, 59, 67, 76, 50, 94, 83,
       53, 56, 43, 70, 81, 56, 46, 93, 47, 87, 59, 57, 65, 63, 45, 63, 94,
       49, 81, 58, 89, 94, 61, 80, 84, 44, 85, 41, 55, 71, 72, 87, 65, 54,
       76, 68, 69, 74, 65, 96, 83, 68, 44, 46, 44, 58, 52, 75, 76, 68, 57,
       81, 77, 93, 49, 41, 68, 86, 81, 83, 60, 54, 89, 58, 86, 61, 88, 82,
       65, 95, 88, 58, 80, 67, 58, 42, 81, 75, 86, 40, 42, 87, 95, 54, 94,
       51, 85, 98, 90, 92, 81, 61, 69, 45, 72, 43, 61, 58, 92, 75, 81, 71,
       77, 57, 77, 69, 83, 82, 82, 67, 65, 58, 58, 80, 70, 64, 76, 94, 88,
       60, 44, 63, 85, 59, 88, 53, 59, 41, 62, 62, 72, 69, 65, 46, 83, 75,
       98, 62, 78, 69, 45, 70, 63, 63, 68, 77, 83, 56, 63, 66, 78, 44, 46,
       76, 74, 48, 97, 84, 40, 85, 93, 97, 89, 65, 82, 88, 98])

## Setting a new index for the Dataframe

In [105]:
new_index = np.arange(0, 1000, 1)

In [106]:
new_index

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
       104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
       130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142,
       143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155,
       156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168,
       169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181,
       182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194,
       195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207,
       208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220,
       221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233,
       234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246,
       247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259,
       260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272,
       273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285,
       286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298,
       299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311,
       312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324,
       325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337,
       338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350,
       351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363,
       364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376,
       377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389,
       390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402,
       403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415,
       416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428,
       429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441,
       442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454,
       455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467,
       468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480,
       481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493,
       494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506,
       507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519,
       520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532,
       533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545,
       546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558,
       559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571,
       572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584,
       585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597,
       598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610,
       611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623,
       624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636,
       637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649,
       650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662,
       663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675,
       676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688,
       689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701,
       702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714,
       715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727,
       728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740,
       741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753,
       754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766,
       767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779,
       780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792,
       793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805,
       806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818,
       819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831,
       832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844,
       845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857,
       858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870,
       871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883,
       884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896,
       897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909,
       910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922,
       923, 924, 925, 926, 927, 928, 929, 930, 931, 932, 933, 934, 935,
       936, 937, 938, 939, 940, 941, 942, 943, 944, 945, 946, 947, 948,
       949, 950, 951, 952, 953, 954, 955, 956, 957, 958, 959, 960, 961,
       962, 963, 964, 965, 966, 967, 968, 969, 970, 971, 972, 973, 974,
       975, 976, 977, 978, 979, 980, 981, 982, 983, 984, 985, 986, 987,
       988, 989, 990, 991, 992, 993, 994, 995, 996, 997, 998, 999])

In [107]:
random.shuffle(new_index)

In [108]:
new_index

array([160, 784, 522, 762, 532, 331, 188, 751, 218, 468, 208,  77, 985,
       222, 706, 697, 880, 797, 653, 973,  48, 690, 716, 668, 814,  44,
       873, 744, 525, 830, 155, 439, 169, 812, 308, 947, 718, 684, 295,
        45, 759, 659, 102, 640, 105, 305, 346, 447, 647, 583, 980, 577,
       472,   3, 114, 694, 932, 300, 237, 162, 232, 293, 380, 242, 967,
       143, 633,  29, 277, 728, 823, 902, 437, 753, 338, 832, 124, 613,
       330, 752, 321, 410, 963, 373, 868, 603, 215, 846, 112, 863, 204,
       207, 983, 835, 362, 760, 212, 121, 972, 436, 425, 514, 236, 579,
       619, 261, 179,  61, 563, 339, 446, 172, 170, 772, 575,  72, 609,
       223, 970, 923, 230,  95, 859, 649, 519, 999, 504, 997, 606,  17,
       290, 708, 110, 163,  60, 865, 816, 693,   1, 353,  69, 332, 166,
       626, 636, 855, 134,  86, 298, 813, 231, 730, 607, 407, 113, 926,
       262, 620, 874, 239,  16,  58, 848, 335, 551,  49, 329, 442, 770,
       672, 270, 130, 294, 893, 883, 393,  32, 199, 271, 147, 118, 678,
       292, 683, 241, 521, 266, 969, 129, 952, 247, 513, 526, 383, 415,
       325, 919, 139, 580, 727, 200, 233, 245, 587, 337, 667, 182, 819,
       808, 657, 740, 777, 509, 656, 424, 572,  28, 704, 244, 454, 368,
       539, 650, 731, 184, 778, 269, 862, 833, 229, 355, 481, 516, 234,
       774, 111, 786, 529, 473, 486,  54, 628, 870, 527, 615, 406,  93,
        87, 783, 394, 372, 851, 929, 132, 193, 465, 391, 722,  36, 573,
       757, 127,  19, 479, 994, 359, 123, 882, 675, 776, 178, 564,  97,
       285, 307, 462,  20, 553, 918,  27, 988, 891, 627, 959, 444, 203,
       663,  80, 206, 506, 257, 426,   2, 739, 666, 995, 829, 541, 977,
       402, 370, 429, 417, 289,  35, 120, 670, 456,  42, 322, 186, 445,
       408, 903, 965, 538, 568, 943, 618, 267, 455, 771, 906, 860, 827,
       761, 238, 470, 101, 937, 554, 138, 746, 524, 747, 917, 605, 460,
       738,  55, 700, 531, 117, 936, 273, 661, 681, 742, 570, 662, 548,
       318, 879, 213, 889, 278, 314, 533, 542,  24, 824,  75, 756, 405,
       530, 317, 495, 945, 793, 198, 165, 361, 450, 822,   9, 854, 435,
       828,  90, 975, 452, 764, 385, 363, 892, 501, 815, 174, 491, 240,
       907, 283, 754, 508, 946, 955, 748, 256, 984, 796, 745, 616, 440,
         4, 419, 612, 296, 643, 493, 671, 309, 216, 623, 669, 149, 357,
       818, 148, 557, 852, 313, 376, 535, 248, 567, 545, 176, 565, 895,
       347, 825, 987, 806, 758,  71, 183, 449, 840, 831, 971, 528, 581,
       711, 109,  52, 604, 549, 601,  63, 459, 341, 252, 146, 284, 701,
       369, 258, 135,   5, 403, 272, 734, 279, 696, 390, 395, 282,  59,
       861, 986, 962, 717, 386,  85, 488, 847, 839, 920, 876, 968,  99,
       156, 599, 351, 804,  21, 310, 590, 467, 733, 255, 981, 374, 431,
       107, 316, 736,  13, 802, 480, 168, 345, 364, 219, 644, 387, 856,
       978, 505, 478, 922, 499, 651, 707, 427, 158, 324, 688, 312, 187,
        22,  18, 648, 890, 302, 766, 930, 763, 867, 652, 608, 596, 555,
       686, 931, 181,  76,  23, 464, 214, 586, 617, 934, 773, 546, 785,
       938,  25, 466, 679, 268, 144, 901, 378, 500, 235, 838, 381, 948,
        41, 275, 195,  53, 221, 142, 726, 441, 461, 597, 958, 600,  10,
       957, 885, 342, 492, 887, 511,  33, 908, 791, 343, 826, 540, 836,
       413, 589, 935,  34,  51, 897, 161,  37,  14, 475,  70, 254, 924,
       695, 614, 250, 503, 639, 915,  65, 280, 680, 228, 642, 866, 496,
       841, 705, 253, 125,  56, 334, 299, 190, 844, 574, 287, 433, 638,
       104, 635, 954, 259, 749, 463, 998, 993, 409,  94, 396, 886, 523,
       837, 196, 646, 725, 632, 750, 594, 366, 428, 422,  31, 794, 209,
       755,  66, 685, 423, 743, 654, 712, 715, 961, 991, 100, 453, 741,
       103, 676, 721, 392, 899, 398,  38, 323, 420, 490, 458,  57, 211,
       912,  11, 602, 941, 807, 399, 485, 412, 249, 803, 430, 729, 224,
        89, 966, 360, 591, 888, 340, 629, 286, 534, 610, 301, 588,  30,
       769,  50, 782, 950, 562, 927, 592, 719, 598, 401, 622,  40, 159,
       921, 795, 571, 303, 122, 780, 152, 438, 128, 348, 192, 377, 660,
       790, 767,  92, 451, 418, 857, 674, 631,  73, 858, 106, 306, 167,
       637,  91, 397, 658, 502, 582, 510, 173,   6, 713, 655, 126, 944,
       477, 842, 365, 585,  47, 448, 333, 197, 180, 350, 709, 457, 319,
       566, 810, 157, 720, 664, 735, 853, 556, 561,  83, 989, 108, 909,
       789, 979, 894, 702, 576, 189,  88, 775, 939, 916, 960, 145, 871,
       864, 517, 356, 940,  79, 116, 611, 691, 925, 779, 949, 703, 798,
       227, 665, 552, 304, 507,  46, 974, 311, 498, 536, 558,  98, 559,
       354,  39, 288, 497,   0, 913, 821, 914, 251, 349, 723, 265, 474,
       276, 976, 714, 900, 389, 560, 621, 388, 550, 544, 443, 990, 243,
       699, 811, 171, 487, 724, 210, 336, 414, 982, 942, 153, 951, 225,
       641, 799,  43,  68, 202, 217, 996, 850, 141,   8, 328,  96, 136,
       375, 326, 226, 384,  78, 137, 371, 737, 432, 411, 872, 578, 928,
       881, 274, 547, 512, 956,  67, 260, 315, 904, 698, 537, 834, 625,
       469,  62, 281, 933, 185, 595, 869, 151, 476, 817, 140, 297, 246,
       520, 877, 352, 692,  82, 201, 992, 119, 910, 805, 150, 905, 787,
       494, 768, 624, 379, 630, 543, 765, 593, 175, 154,  74, 131,  26,
       518, 849, 421, 781, 205, 382, 133,  84, 584, 489, 569, 792, 194,
       673, 801, 515,  64, 191, 710,   7, 264, 327, 682, 911, 677, 732,
       884, 788, 634, 687, 320, 845, 689,  12, 434, 896, 898, 809, 645,
       820, 482, 484, 878, 164, 471, 367, 416,  15, 404, 220, 483, 400,
       953, 800, 291, 263, 177, 358, 115, 964,  81, 843, 344, 875])

In [109]:
df_student['new_index'] = new_index

In [110]:
df_student

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,language_score,score1,score2,total score,new_index
957,female,group D,master's degree,standard,none,92,100,100,92,74,95,553,160
397,female,group C,associate's degree,standard,none,85,89,95,87,96,99,551,784
229,female,group C,some college,standard,completed,88,95,94,98,77,96,548,522
903,female,group D,bachelor's degree,free/reduced,completed,93,100,100,65,86,96,540,762
16,male,group C,high school,standard,none,88,89,86,98,81,91,533,532
...,...,...,...,...,...,...,...,...,...,...,...,...,...
921,female,group C,high school,free/reduced,none,35,53,46,45,41,51,271,964
555,female,group C,some college,free/reduced,none,32,39,33,55,48,56,263,81
596,male,group B,high school,free/reduced,none,30,24,15,50,55,79,253,843
76,male,group E,some high school,standard,none,30,26,22,45,46,56,225,344
327,male,group A,some college,free/reduced,none,28,23,19,49,54,52,225,875

In [111]:
df_student.set_index(new_index, inplace= True)

In [112]:
df_student

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,language_score,score1,score2,total score,new_index
160,female,group D,master's degree,standard,none,92,100,100,92,74,95,553,160
784,female,group C,associate's degree,standard,none,85,89,95,87,96,99,551,784
522,female,group C,some college,standard,completed,88,95,94,98,77,96,548,522
762,female,group D,bachelor's degree,free/reduced,completed,93,100,100,65,86,96,540,762
532,male,group C,high school,standard,none,88,89,86,98,81,91,533,532
...,...,...,...,...,...,...,...,...,...,...,...,...,...
964,female,group C,high school,free/reduced,none,35,53,46,45,41,51,271,964
81,female,group C,some college,free/reduced,none,32,39,33,55,48,56,263,81
843,male,group B,high school,free/reduced,none,30,24,15,50,55,79,253,843
344,male,group E,some high school,standard,none,30,26,22,45,46,56,225,344
875,male,group A,some college,free/reduced,none,28,23,19,49,54,52,225,875

In [113]:
df_student.sort_index()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,language_score,score1,score2,total score,new_index
0,male,group C,associate's degree,standard,completed,51,60,58,68,53,72,362,0
1,female,group C,bachelor's degree,standard,none,86,92,87,60,69,78,472,1
2,female,group B,some high school,standard,none,73,79,79,81,62,69,443,2
3,female,group E,bachelor's degree,standard,completed,99,100,100,67,65,66,497,3
4,female,group C,master's degree,standard,completed,54,64,67,78,89,75,427,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,male,group B,some college,free/reduced,completed,60,62,60,85,97,79,443,995
996,male,group B,bachelor's degree,free/reduced,none,48,51,46,52,60,97,354,996
997,male,group D,associate's degree,free/reduced,none,77,78,73,97,72,77,474,997
998,male,group B,bachelor's degree,standard,none,66,60,57,75,99,40,397,998
999,female,group B,bachelor's degree,standard,none,97,97,96,54,70,60,474,999

In [114]:
df_student.sort_index(inplace=True)

In [115]:
df_student

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,language_score,score1,score2,total score,new_index
0,male,group C,associate's degree,standard,completed,51,60,58,68,53,72,362,0
1,female,group C,bachelor's degree,standard,none,86,92,87,60,69,78,472,1
2,female,group B,some high school,standard,none,73,79,79,81,62,69,443,2
3,female,group E,bachelor's degree,standard,completed,99,100,100,67,65,66,497,3
4,female,group C,master's degree,standard,completed,54,64,67,78,89,75,427,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,male,group B,some college,free/reduced,completed,60,62,60,85,97,79,443,995
996,male,group B,bachelor's degree,free/reduced,none,48,51,46,52,60,97,354,996
997,male,group D,associate's degree,free/reduced,none,77,78,73,97,72,77,474,997
998,male,group B,bachelor's degree,standard,none,66,60,57,75,99,40,397,998
999,female,group B,bachelor's degree,standard,none,97,97,96,54,70,60,474,999

## How to rename column and indexes

In [116]:
df_student.rename(columns={'gender': 'sex'}, inplace=True)

In [117]:
df_student

,sex,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,language_score,score1,score2,total score,new_index
0,male,group C,associate's degree,standard,completed,51,60,58,68,53,72,362,0
1,female,group C,bachelor's degree,standard,none,86,92,87,60,69,78,472,1
2,female,group B,some high school,standard,none,73,79,79,81,62,69,443,2
3,female,group E,bachelor's degree,standard,completed,99,100,100,67,65,66,497,3
4,female,group C,master's degree,standard,completed,54,64,67,78,89,75,427,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,male,group B,some college,free/reduced,completed,60,62,60,85,97,79,443,995
996,male,group B,bachelor's degree,free/reduced,none,48,51,46,52,60,97,354,996
997,male,group D,associate's degree,free/reduced,none,77,78,73,97,72,77,474,997
998,male,group B,bachelor's degree,standard,none,66,60,57,75,99,40,397,998
999,female,group B,bachelor's degree,standard,none,97,97,96,54,70,60,474,999

# Web Scrapping

In [118]:
df_premier24 =  pd.read_csv('https://www.football-data.co.uk/mmz4281/2425/E0.csv')

In [119]:
df_premier24

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E0,16/08/2024,20:00,Man United,Fulham,1,0,H,0,0,...,1.86,2.07,1.83,2.11,1.88,2.11,1.82,2.05,1.90,2.08
1,E0,17/08/2024,12:30,Ipswich,Liverpool,0,2,A,0,0,...,2.05,1.88,2.04,1.90,2.20,2.00,1.99,1.88,2.04,1.93
2,E0,17/08/2024,15:00,Arsenal,Wolves,2,0,H,1,0,...,2.02,1.91,2.00,1.90,2.05,1.93,1.99,1.87,2.02,1.96
3,E0,17/08/2024,15:00,Everton,Brighton,0,3,A,0,1,...,1.87,2.06,1.86,2.07,1.92,2.10,1.83,2.04,1.88,2.11
4,E0,17/08/2024,15:00,Newcastle,Southampton,1,0,H,1,0,...,1.87,2.06,1.88,2.06,1.89,2.10,1.82,2.05,1.89,2.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,25/05/2025,16:00,Newcastle,Everton,0,1,A,0,0,...,2.00,1.85,2.01,1.90,2.01,1.95,1.95,1.91,1.93,2.05
376,E0,25/05/2025,16:00,Nott'm Forest,Chelsea,0,1,A,0,0,...,1.80,2.05,1.86,2.08,1.86,2.08,1.81,2.05,1.86,2.14
377,E0,25/05/2025,16:00,Southampton,Arsenal,1,2,A,0,1,...,2.03,1.83,2.04,1.87,2.07,1.87,2.03,1.83,2.06,1.89
378,E0,25/05/2025,16:00,Tottenham,Brighton,1,4,A,1,0,...,1.95,1.90,2.00,1.93,2.01,1.93,1.95,1.89,2.06,1.93
379,E0,25/05/2025,16:00,Wolves,Brentford,1,1,D,0,1,...,1.85,2.00,1.90,2.03,1.90,2.05,1.85,1.97,1.89,2.10

In [120]:
df_premier24.rename(columns={'Date':'date',
                                            'HomeTeam':'home_team',
                                            'AwayTeam':'away_team',
                                            'FTHG': 'home_goals',
                                            'FTAG': 'away_goals'}, inplace=True)

In [121]:
df_premier24

,Div,date,Time,home_team,away_team,home_goals,away_goals,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E0,16/08/2024,20:00,Man United,Fulham,1,0,H,0,0,...,1.86,2.07,1.83,2.11,1.88,2.11,1.82,2.05,1.90,2.08
1,E0,17/08/2024,12:30,Ipswich,Liverpool,0,2,A,0,0,...,2.05,1.88,2.04,1.90,2.20,2.00,1.99,1.88,2.04,1.93
2,E0,17/08/2024,15:00,Arsenal,Wolves,2,0,H,1,0,...,2.02,1.91,2.00,1.90,2.05,1.93,1.99,1.87,2.02,1.96
3,E0,17/08/2024,15:00,Everton,Brighton,0,3,A,0,1,...,1.87,2.06,1.86,2.07,1.92,2.10,1.83,2.04,1.88,2.11
4,E0,17/08/2024,15:00,Newcastle,Southampton,1,0,H,1,0,...,1.87,2.06,1.88,2.06,1.89,2.10,1.82,2.05,1.89,2.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,25/05/2025,16:00,Newcastle,Everton,0,1,A,0,0,...,2.00,1.85,2.01,1.90,2.01,1.95,1.95,1.91,1.93,2.05
376,E0,25/05/2025,16:00,Nott'm Forest,Chelsea,0,1,A,0,0,...,1.80,2.05,1.86,2.08,1.86,2.08,1.81,2.05,1.86,2.14
377,E0,25/05/2025,16:00,Southampton,Arsenal,1,2,A,0,1,...,2.03,1.83,2.04,1.87,2.07,1.87,2.03,1.83,2.06,1.89
378,E0,25/05/2025,16:00,Tottenham,Brighton,1,4,A,1,0,...,1.95,1.90,2.00,1.93,2.01,1.93,1.95,1.89,2.06,1.93
379,E0,25/05/2025,16:00,Wolves,Brentford,1,1,D,0,1,...,1.85,2.00,1.90,2.03,1.90,2.05,1.85,1.97,1.89,2.10

In [138]:
root_url = 'https://www.football-data.co.uk/mmz4281/'
frames = []
league_dictionary = {
    'Spanish La Liga':'SP1', 
    'Spanish Segunda Division':'SP2',
    'German Bundesliga':'D1', 
    # 'English Premier League':'E0',
}
seasons = ['0506', '0607', '0708', '0809', '0910', '1011', '1112', '1213', '1314', '1415', '1516', '1617', '1718', '1819', '1920', '2021', '2122', '2223', '2324', '2425']

In [139]:
for league in league_dictionary:
    print(league_dictionary[league])

SP1
SP2
D1
E0

In [141]:
for season in seasons:
    for league in leagues:
        url = root_url + season + '/' + str(league_dictionary[league]) + '.csv'
        df = pd.read_csv(url, encoding='unicode_escape')
        df.insert(1, 'season', season[:2] + '/' + season[2:])
        frames.append(df)

KeyError: 'E0'

In [128]:
len(frames)

60

In [129]:
frames[0]

,Div,season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,BbMx>2.5,BbAv>2.5,BbMx<2.5,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA
0,E0,05/06,13/08/05,Aston Villa,Bolton,2,2,D,2,2,...,2.20,2.01,1.87,1.70,22,-0.25,2.10,2.01,1.92,1.84
1,E0,05/06,13/08/05,Everton,Man United,0,2,A,0,1,...,2.10,1.93,1.87,1.79,23,0.75,2.05,2.00,1.93,1.86
2,E0,05/06,13/08/05,Fulham,Birmingham,0,0,D,0,0,...,2.24,2.04,1.77,1.69,21,0.00,1.85,1.81,2.11,2.05
3,E0,05/06,13/08/05,Man City,West Brom,0,0,D,0,0,...,2.10,1.94,1.90,1.77,23,-0.75,2.19,2.10,1.83,1.76
4,E0,05/06,13/08/05,Middlesbrough,Liverpool,0,0,D,0,0,...,2.23,2.02,1.80,1.71,21,0.25,1.89,1.86,2.04,2.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,05/06,07/05/06,Fulham,Middlesbrough,1,0,H,0,0,...,2.15,2.00,1.80,1.74,20,-0.75,1.88,1.81,2.10,2.05
376,E0,05/06,07/05/06,Man United,Charlton,4,0,H,3,0,...,1.75,1.67,2.20,2.08,20,-1.75,1.93,1.90,2.04,1.96
377,E0,05/06,07/05/06,Newcastle,Chelsea,1,0,H,0,0,...,2.25,2.08,1.70,1.67,20,0.00,2.15,2.09,1.83,1.76
378,E0,05/06,07/05/06,Portsmouth,Liverpool,1,3,A,0,0,...,2.13,1.96,1.85,1.76,20,0.75,2.19,2.12,1.83,1.76
379,E0,05/06,07/05/06,West Ham,Tottenham,2,1,H,1,1,...,2.20,2.04,1.80,1.71,19,0.75,2.00,1.91,2.00,1.96